body {
  background-color: #eeeeee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 1440px;
}
.main-section {
  background-image: url("/assets/Desktop_Backgrounds_1920x1200_6\ 3.png");
  width: 1440px;
  height: 822px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section img {
  display: block;
  margin: 0 auto;
}
.main-section h1 {
  color: #fff;
  margin-top: 10px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.main-section h2 {
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  color: #ffffffb2;
  font-weight: 400;
}
