.second-section {
  height: 700px;
  text-align: center;
}

.second-section h2 {
  margin-top: 96px;
  font-size: 48px;
  color: #464547;
  line-height: 64px;
  margin-bottom: 0px;
}

.second-section h3 {
  margin-top: 48px;
  margin-bottom: 48px;
  font-size: 24px;
  color: #666666;
  font-weight: 400;
  line-height: 32px;
}

.second-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}

.second-p1 {
  margin-bottom: 32px;
}

.second-p2 {
  margin-bottom: 64px;
}

.second-section button {
  background-color: #55c2d8;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
  padding: 8px 16px;
  border-radius: 22px;
  border: none;
}
