.third-section {
  background-image: url("/assets/IMG_1334_72dpi_RGB_\ 1.png");
  height: 666px;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.third-section h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

.third-section h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.third-section button {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #55c2d8;
  border: none;
}

.third-section button span {
  font-size: 60px;
  margin-left: 15px;
  color: #fff;
}

footer {
  height: 170px;
  background-color: #464547;
  padding-top: 32px;
  padding-left: 145px;
}

footer img {
  width: 20px;
  height: 20px;
}

footer span {
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
}

.address {
  margin-top: 0px;
  color: #ffffff66;
  margin-bottom: 0px;
}

.email {
  color: #ffffff66;
  text-decoration: none;
}

.copyright {
  margin-top: 0px;
  color: #ffffff66;
}
